<div class="container text-center">
    <h2><%= @article.title %></h2>
    <%= link_to 'edit'.html_safe, edit_article_path(@article) %> |
    <%= link_to 'delete'.html_safe, article_path(@article), method: :delete,  data: { confirm: "Are you sure?" } %>
    <hr>
    <%= Kramdown::Document.new(@article.content).to_html.html_safe
    %>
    <p>Created: <%= @article.created_at %></p>
    <br>
    <%= link_to "Back to all articles", articles_path %>
</div>
